:root {
    --primary-black: #000000;
    --primary-grey: #6D696A;
    --primary-white: #EAEAEA;
    --primary-green: #26A96C;
    --primary-red: #F24333;
}

html, body, main, #root {
    margin: 0;
    margin-top: 5px;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-white);
}