.signupDiv {
    display: flex;
    justify-content: center;
    height: 500px;
}

.signupBox {
    /* Flex Styles */
    display: flex;
    justify-content: center;

    /* Box Styles */
    padding: 50px;
    margin: 25px;
    background-color: var(--primary-grey);
    border-radius: 35px;
    filter: drop-shadow(0px 5px 5px var(--primary-grey));
}

.signupButton:hover {
    background-color: green;
}